# Microsoft Graph SDK and Azure Identity
msgraph-sdk
azure-identity

# RabbitMQ client
pika

# For loading .env files
python-dotenv

# For async operations
asyncio

# Azure Blob Storage SDK
azure-storage-blob

# --- Database ORM ---
SQLAlchemy
psycopg2-binary

# --- AI Service SDKs ---
azure-ai-documentintelligence
openai>=1.0.0 

aio_pika